body {
    font-family: 'Segoe UI', sans-serif;
    background: #09264a;
    background: linear-gradient(90deg, rgba(9, 38, 74, 1) 0%, rgba(4, 66, 30, 1) 50%, rgba(42, 8, 135, 1) 100%);
}
}

#mediaContainer img,
#mediaContainer iframe {
    max-width: 100%;
    border-radius: 10px;
}

.list-group-item {
    cursor: pointer;
}

.list-group-item:hover {
    background-color: #444 !important;
}


.list-group-item img {
    border: 2px solid #666;
}

h2,p{
    color:white !important;
}

