body {
    font-family: 'Segoe UI', sans-serif;
}

#mediaContainer img,
#mediaContainer iframe {
    max-width: 100%;
    border-radius: 10px;
}

.list-group-item {
    cursor: pointer;
}

.list-group-item:hover {
    background-color: #444 !important;
}


.list-group-item img {
    border: 2px solid #666;
}
